Repository macotok/Next.js-package-fsa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run lint:scss

add workflow at GitHub
  .eslintrc
  .github/workflows/ci_eslint.yml
  .github/workflows/ci_stylelint.yml
  package.json
Due: none

feat: add npmrc
  .npmrc
  package-lock.json
  package.json
  src/pages/index.tsx
Due: eslint --fix, prettier --write

feat: add sass
  package-lock.json
  package.json
Due: none

feat: add ress
  package-lock.json
  package.json
  src/pages/_app/index.tsx
Due: eslint --fix, prettier --write

feat: add editorconfig
  .editorconfig
Due: none

feat: add redux
  package-lock.json
  package.json
Due: none

feat: add axios
  package-lock.json
  package.json
Due: none

feat: create store
  src/pages/_app/index.tsx
  src/reducer/index.ts
  src/saga/index.ts
  src/store/index.ts
Due: eslint --fix, prettier --write

feat: actioncreator at news
  src/actions/getNews/index.ts
Due: eslint --fix, prettier --write

feat: implement api
  src/api/index.ts
Due: eslint --fix, prettier --write

feat: news reducer
  src/reducer/index.ts
  src/reducers/news/index.ts
Due: eslint --fix, prettier --write

feat: news saga
  .eslintrc
  src/api/index.ts
  src/saga/index.ts
  src/sagas/watchGetNews/index.ts
Due: eslint --fix, prettier --write

feat: view data
  next-env.d.ts
  src/pages/index.tsx
  src/reducers/news/index.ts
Due: eslint --fix, prettier --write

feat: add alias at file
  .gitignore
  next.config.js
  src/api/index.ts
  src/pages/_app/index.tsx
  src/pages/index.tsx
  src/reducer/index.ts
  src/reducers/news/index.ts
  src/saga/index.ts
  src/sagas/watchGetNews/index.ts
  src/store/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add babel-plugin-inline-react-svg
  .babelrc
  next-env.d.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add sass-mq
  package-lock.json
  package.json
  src/styles/constants.scss
Due: npm run lint:scss

feat: add material-ui
  package-lock.json
  package.json
Due: none

feat: add 404page
  src/pages/404.tsx
Due: eslint --fix, prettier --write

feat: add error page
  src/pages/404.tsx
  src/pages/_error.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

chore: update README
  README.md
Due: none

chore: update stylelintrc
  .stylelintrc.json
Due: none

feat: add WebLink component
  src/components/WebLink/index.tsx
Due: eslint --fix, prettier --write

feat: add Image component
  package-lock.json
  package.json
  src/components/Image/SvgImage.tsx
  src/components/Image/index.tsx
  src/constants/detector.ts
Due: eslint --fix, prettier --write

chore: update gitignore
  .gitignore
Due: none

fix: github actions ci
  .github/workflows/ci_build.yml
  .github/workflows/ci_eslint.yml
Due: none

feat: lazyload at Image component
  package-lock.json
  package.json
  src/components/Image/SvgImage.tsx
  src/components/Image/index.tsx
Due: eslint --fix, prettier --write

chore: refactor type at MicroCMS base
  src/actions/getNews/index.ts
  src/api/index.ts
  src/constants/microCms/base.ts
  src/constants/microCms/news.ts
Due: eslint --fix, prettier --write

feat: add dayjs
  README.md
  package-lock.json
  package.json
  src/pages/_app/index.tsx
Due: eslint --fix, prettier --write

chore: refactor various code
  src/api/index.ts
  src/constants/microCms/base.ts
  src/constants/microCms/news.ts
  src/reducer/index.ts
  src/sagas/watchGetNews/index.ts
Due: eslint --fix, prettier --write

feat: many response logic to saga
  src/constants/microCms/base.ts
  src/constants/microCms/news.ts
  src/saga/microCms/microCmsLogic.ts
  src/saga/microCms/microCmsManyLogic.ts
Due: eslint --fix, prettier --write

fix: build error
  src/reducer/index.ts
Due: eslint --fix, prettier --write

chore: 拡張機能sort-importを入れたので全ファイルに適用。微修正
  src/actions/getNews/index.ts
  src/api/index.ts
  src/components/Image/SvgImage.tsx
  src/components/Image/index.tsx
  src/components/WebLink/index.tsx
  src/pages/404.tsx
  src/pages/_app/index.tsx
  src/pages/_error.tsx
  src/pages/index.tsx
  src/reducer/index.ts
  src/reducers/news/index.ts
  src/saga/index.ts
  src/saga/microCms/microCmsLogic.ts
  src/saga/microCms/microCmsManyLogic.ts
  src/sagas/watchGetNews/index.ts
  src/store/index.ts
Due: eslint --fix, prettier --write

feat: add microCmsSingleLogic
  src/saga/microCms/microCmsSingleLogic.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  npm run lint:scss: any of: *.scss
